<div class="title">
<h2> Your <%= @category.name %></h2><%= link_to "add a list ", new_category_list_path(@category, @list), class:"btn btn-flat" %>
</div>

<div class="list-cards">
    <% @lists.each do |list| %>
      <%= link_to category_list_path(@category, list), class: "link-card-category"  do %>
        <% if list.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <% else %>
          <div class="card-category random-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
        <% end %>
            <div class="list-changes">
              <%= link_to '', edit_category_list_path(@category, list), class:"fas fa-pen" %>
              <%= link_to '', category_list_path(@category, list), method: :delete, class:"far fa-trash-alt" %>
            </div>
            <div class="list-card-text">
              <%= list.name %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
