<div class="custom-container">

  <div class="title">
    <h2> Your <%= @list.name.downcase%> <%= @category.name.downcase %></h2>
    <%= link_to "add a #{@category.name.downcase.singularize}", new_category_list_bookmark_path(@category, @list, @bookmark), class:"btn btn-flat" %>
  </div>
  <div class="title">


  <div class="show-container justify-content-center" data-controller="refresh-list">
    <%= form_with url: category_list_path, method: :get, html: { class: 'mb-5 col-12 col-lg-6', data: { refresh_list_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Type a #{@category.name.downcase.singularize} title",
                     value: params[:query],
                     data: {
                      refresh_list_target: 'searchInput',
                      action: "keyup->refresh-list#update"
                    } %>
    <% end %>



    <%= render 'list', bookmarks: @bookmarks %>


  </div>





</div>
