<div class="container">
  <div class="row justify-content-center">
    <div class="new-bookmark-container col-12 col-lg-6">
      <%= simple_form_for [@category, @list, @bookmark] do |f| %>
        <h3>update your <%= @category.name.singularize.downcase %></h3>
        <%= f.association :item, collection: Item.all.order(:title), prompt: "Choose a #{@category.name.singularize.downcase}",input_html: { data: { controller: 'select2' }}  %>
        <%= f.input :comment, as: :text %>
        <%= f.button :submit, label: "update my #{@category.name.singularize.downcase}", class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
<%# <%= @category.name.singularize.downcase %>
